body {
  background: url("/images/Ohwonderbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: helvetica, sans-serif; }
  body header {
    background-color: #232325; }
  body .headerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px; }
  body h1 {
    font-family: helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: #232325;
    font-size: 30px; }
  body section {
    margin-left: center;
    margin-right: center;
    margin-top: 50px; }
  body iframe {
    display: block;
    margin: auto; }
  body article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; }
  body .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }
  body h2 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #40afb8;
    font-size: 20px;
    margin-top: 30px; }
  body p {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 14; }
  body h3 {
    text-align: center; }
  body .center {
    text-align: center;
    list-style-position: inside; }
  body ol.center li {
    text-align: left;
    margin-left: 45%; }
  body footer {
    background-color: #232325;
    height: 50px; }
